<div class="row m-5">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
        <div class="bg-white shadow rounded p-4">
            <h1 class="display-6 text-dark text-center">Ajouter une commande</h1>
            <hr class="bg-dark mb-5" />
            <form [formGroup]="orderForm" (ngSubmit)="addOrder(orderForm.value)">
                <!-- <input type="text" formControlName="id" hidden /> -->

                <div class="form-group mb-3">
                    <label for="orderTypePrestaInput">Type de prestation</label>
                    <input type="text" id="orderTypePrestaInput" class="form-control" formControlName="typePresta" />
                    <div class="text-danger"
                        *ngIf="orderForm.get('typePresta')?.invalid && orderForm.get('typePresta')?.touched ">
                        Le type de prestation est requis.
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="orderDesignationInput">Désignation</label>
                    <input type="text" id="orderDesignationInput" class="form-control"
                        formControlName="designation" />
                    <div class="text-danger"
                        *ngIf="orderForm.get('designation')?.invalid && orderForm.get('designation')?.touched ">
                        La désignation est requise.
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="orderNbDaysInput">Nombre de jours</label>
                    <input type="number" id="orderNbDaysInput" class="form-control" formControlName="nbDays" />
                    <div class="text-danger"
                        *ngIf="orderForm.get('nbDays')?.invalid && orderForm.get('nbDays')?.touched ">
                        Le nombre de jours est requis.
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="orderUnitPriceInput">Prix unitaire</label>
                    <input type="number" id="orderUnitPriceInput" class="form-control" formControlName="unitPrice" />
                    <div class="text-danger"
                        *ngIf="orderForm.get('unitPrice')?.invalid && orderForm.get('unitPrice')?.touched ">
                        Le prix unitaire est requis.
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="orderStateInput">État</label>
                    <select id="orderStateInput" class="form-control" formControlName="state">
                        <option value="OPTION">Option</option>
                        <option value="CONFIRMED">Confirmé</option>
                        <option value="CANCELED">Annulé</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="orderClientIdInput">Client</label>
                    <select id="orderClientIdInput" class="form-control" formControlName="idClient">
                        <option *ngFor="let client of clients" [value]="client.id">{{ client.companyName }} - {{ client.firstName }} {{ client.lastName }}</option>
                    </select>
                    <div class="text-danger"
                        *ngIf="orderForm.get('idClient')?.invalid && orderForm.get('idClient')?.touched">
                        Le client est requis.
                    </div>
                </div>

                <div class="d-flex">
                    <button class="btn btn-success mx-auto" type="submit" [disabled]="orderForm.invalid">
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
