<div class="bg-white shadow p-4 rounded">
  <h1 class="display-6 text-dark text-center">Liste des clients</h1>
  <hr class="bg-dark text-dark">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom de l'entreprise</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col">Téléphone</th>
        <!-- <th scope="col">Adresse</th>
        <th scope="col">Code postal</th>
        <th scope="col">Ville</th>
        <th scope="col">Pays</th>
        <th scope="col">État</th> -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients; let i = index">
        <th>{{ client.id }}</th>
        <td>{{ client.companyName }}</td>
        <td>{{ client.firstName | uppercase }}</td>
        <td>{{ client.lastName }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.phone }}</td>
        <!-- <td>{{ client.address }}</td>
        <td>{{ client.zipCode }}</td>
        <td>{{ client.city }}</td>
        <td>{{ client.country }}</td>
        <td>{{ client.state}}</td> -->
        <td>
          <button class="btn btn-primary me-2" (click)="getClient(client.id)" data-bs-toggle="modal"
            data-bs-target="#detailsClientModal">infos...
          </button>


          <button class="btn btn-primary me-2" type="button" [routerLink]="['/updateClient']"
            [queryParams]="{ index: i, id: client.id, companyName: client.companyName, firstName: client.firstName, lastName: client.lastName, email: client.email, phone: client.phone, address: client.address, zipCode: client.zipCode, city: client.city, country: client.country, state: client.state }">Modifier
          </button>
          <button class="btn btn-danger" type="button"
            (click)="onDeleteClient(client.id, client.firstName, client.lastName)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="detailsClientModal" tabindex="-1" aria-labelledby="detailsClientModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h1 class="modal-title fs-5" id="detailsClientModalLabel">Détails du client</h1> -->
        <h2 *ngIf="selectedClient">Infos client : {{ selectedClient.firstName | uppercase }} {{ selectedClient.lastName
          }}</h2>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Affichez les détails du client ici -->
        <div *ngIf="selectedClient">
          <p><strong>Nom de l'entreprise:</strong> {{ selectedClient.companyName }}</p>
          <p><strong>Prénom:</strong> {{ selectedClient.firstName | uppercase }}</p>
          <p><strong>Nom:</strong> {{ selectedClient.lastName }}</p>
          <p><strong>Email:</strong> {{ selectedClient.email }}</p>
          <p><strong>Téléphone:</strong> {{ selectedClient.phone }}</p>
          <p><strong>Adresse:</strong> {{ selectedClient.address }}</p>
          <p><strong>Code postal:</strong> {{ selectedClient.zipCode }}</p>
          <p><strong>Ville:</strong> {{ selectedClient.city }}</p>
          <p><strong>Pays:</strong> {{ selectedClient.country }}</p>
          <p><strong>État:</strong> {{ selectedClient.state }}</p>

          <!-- Affichage des commandes -->
          <h3>Commandes {{ selectedClient.firstName | uppercase }} : </h3>
          <table class="table">
            <thead>
              <tr>
                <th>Numéro de commande</th>
                <th>Type Prestation</th>
                <th>Désignation</th>
                <th>Nombre de jours</th>
                <th>Prix unitaire</th>
                <!-- ... Ajoutez d'autres colonnes au besoin ... -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of selectedClient.orders; let i = index">
                <td>{{ order.typePresta }}</td>
                <td>{{ order.id }}</td>
                <td>{{ order.designation }}</td>
                <td>{{ order.nbDays }}</td>
                <td>{{ order.unitPrice }}</td>
                <!-- ... Ajoutez d'autres colonnes au besoin ... -->
              </tr>
            </tbody>
          </table>


          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>
